/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --nav-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --filler-color: #ff0070;
  --secondary-color: #000028;
  --shadow-color: #ff0070;
  --subtitle-color: #ff0070;
}
