/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #ffeee6;
  --nav-color: #353430;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --filler-color: #FF8DCB;
  --secondary-color: #353430;
  --shadow-color:  #ff0070;
  background-image: url(/images/cover-image-light.png);
    .header__lamp {
      display: none;
    }
}



@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffeee6;
    --nav-color: #353430;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --filler-color: #FF8DCB;
    --secondary-color: #353430;
    --shadow-color:  #ff0070; 
    }
    .theme_auto.page{
      background-image: url(/images/cover-image-light.png);
    }
    .theme_auto .header__lamp{
      display: none;
    }
}
