/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #ffeee6;
  --nav-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --filler-color: #ff8dcb;
  --secondary-color: #353430;
  --shadow-color: #ff0070;
  --subtitle-color: #353430;
  --hover-color: rgb(50, 49, 45, 0.4);
  background-image: url(/images/cover-image-light.png);
  .header__lamp {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffeee6;
    --nav-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --filler-color: #ff8dcb;
    --secondary-color: #353430;
    --shadow-color: #ff0070;
    --subtitle-color: #353430;
    --hover-color: rgb(50, 49, 45, 0.4);
  }
  .theme_auto.page {
    background-image: url(/images/cover-image-light.png);
  }
  .theme_auto .header__lamp {
    display: none;
  }
}
