/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --nav-color: #FF0070;
  --title-color: #db00ff;
  --text-color: #F1B2CE;
  --filler-color: #FF0070;
  --secondary-color: #000028;
  --shadow-color: #FF0070;
  --main-font: 'IBM Plex mono';
}
